.dark-theme {
    --color-section-bg: #291554;
    --color-hero-bg: #000000;
    --color-purple: #4A2794;

    --header-menu-color : white;
}

.dark-theme,
.dark-theme .text-dark {
    color: white !important;
}

.dark-theme .contact-form input {
    border-color: white;
    color: white;
}

.dark-theme .scroll-icon,
.dark-theme .arrow-icon {
    filter: invert(1);
}

.dark-theme .attachment-btn img {
    filter: invert(1);
}

.dark-theme .menu-toggler img {
    filter: invert(1);
}

.dark-theme .innowink-menu-links a {
    color: black;
}
.dark-theme .innowink-menu-links a:hover {
    color: var(--color-orange);
}

.dark-theme .how-card {
    background-color: var(--color-purple);
    border: none;
}

.dark-theme .logo img {
    filter: invert(1);
}

.light-theme .dark-mode-icon{
    display: none;
}

.dark-theme .light-mode-icon{
    display: none;
}